* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.App {
  color: rgb(211, 211, 211);
  background-image: linear-gradient(
    to bottom,
    rgb(77, 12, 180),
    rgba(120, 69, 187, 0.808)
  );
  width: 100vw;
  height: 100vh;
  font-size: 26px;
}

.searchField {
  text-align: center;
  padding-top: 10px;
}

.searchField input {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: 1px solid rgba(212, 212, 212, 0.459);
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
}

.name {
  margin-top: 40px;
}

.fas {
  margin-top: 120px;
}

.weather {
  color: rgb(170, 170, 170);
  font-size: 20px;
}
